<ul>
    {% if member %}
        <li>
            <span class="member">{{ member.auto_id }} - {{ member.name }} ({{ member.side }})</span>
            <span class="actions">
                <a href="{% url 'mlm_add' member.auto_id %}">+ Add</a> |
                <a href="{% url 'mlm_replace' member.auto_id %}">Replace</a> |
                <a href="{% url 'mlm_delete' member.auto_id %}">Delete</a>
            </span>

            <ul>
                {% include 'geniology_tree_node.html' with member=member.left_child %}
                {% include 'geniology_tree_node.html' with member=member.right_child %}
            </ul>
        </li>
    {% else %}
        <li>+ Add Member</li>
    {% endif %}
</ul>

