<li>
    <span class="box" onclick="info('{{ node.name }}','{{ node.auto_id }}')">
        {{ node.name }} ({{ node.auto_id }})
    </span>

    <!-- LEFT CHILD OR + BUTTON -->
    {% if node.left %}
        <ul>
            {% include "herbalapp/tree_box.html" with node=node.left %}
        </ul>
    {% else %}
        <a class="add-btn" href="{% url 'add_member' node.id 'left' %}">[ + Left ]</a>
    {% endif %}

    <!-- RIGHT CHILD OR + BUTTON -->
    {% if node.right %}
        <ul>
            {% include "herbalapp/tree_box.html" with node=node.right %}
        </ul>
    {% else %}
        <a class="add-btn" href="{% url 'add_member' node.id 'right' %}">[ + Right ]</a>
    {% endif %}
</li>

