<li>
    <div class="member-box" onclick="showMemberDetail({id:'{{ root_member.id }}', auto_id:'{{ root_member.auto_id }}', name:'{{ root_member.name }}'})">
        {{ root_member.name }} ({{ root_member.auto_id }})
    </div>
    {% if root_member.left_child or root_member.right_child %}
        <ul>
            {% if root_member.left_child %}
                {% include "herbalapp/tree_recursive.html" with root_member=root_member.left_child %}
            {% endif %}
            {% if root_member.right_child %}
                {% include "herbalapp/tree_recursive.html" with root_member=root_member.right_child %}
            {% endif %}
        </ul>
    {% endif %}
</li>

