{% if member.left_child or member.right_child %}
<ul>

    {% if member.left_child %}
    <li>

        {% include "herbalapp/tree_box.html" with member=member.left_child %}

        {% if not member.left_child.left_child %}
            <a class="add-btn"
               href="{% url 'add_member' member.left_child.id 'left' %}">[ + Left ]</a>
        {% endif %}

        {% if not member.left_child.right_child %}
            <a class="add-btn"
               href="{% url 'add_member' member.left_child.id 'right' %}">[ + Right ]</a>
        {% endif %}

        {% include "herbalapp/child_tree.html" with member=member.left_child %}
    </li>
    {% endif %}


    {% if member.right_child %}
    <li>

        {% include "herbalapp/tree_box.html" with member=member.right_child %}

        {% if not member.right_child.left_child %}
            <a class="add-btn"
               href="{% url 'add_member' member.right_child.id 'left' %}">[ + Left ]</a>
        {% endif %}

        {% if not member.right_child.right_child %}
            <a class="add-btn"
               href="{% url 'add_member' member.right_child.id 'right' %}">[ + Right ]</a>
        {% endif %}

        {% include "herbalapp/child_tree.html" with member=member.right_child %}
    </li>
    {% endif %}

</ul>
{% endif %}

