{% load static %}
<li>
  <div class="member">
    <img src="{% if member.avatar %}{{ member.avatar.url }}{% else %}{% static 'default-avatar.png' %}{% endif %}"
         class="avatar" />
    <div class="info">
      <strong>{{ member.name }}</strong><br>
      ID: {{ member.auto_id }}<br>
      BV: {{ member.total_left_bv|default:"0" }}/{{ member.total_right_bv|default:"0" }}
    </div>
    <div class="actions">
      {% if member.auto_id %}
        {% if not member.left_member %}
          <a class="add-btn" href="{% url 'add_member_under_parent' member.auto_id 'left' %}">+ Add Left</a>
        {% endif %}
        {% if not member.right_member %}
          <a class="add-btn" href="{% url 'add_member_under_parent' member.auto_id 'right' %}">+ Add Right</a>
        {% endif %}
      {% else %}
        <span class="add-btn">No ID</span>
      {% endif %}
    </div>
  </div>

  {% if member.left_member or member.right_member %}
  <ul>
    {% if member.left_member %}
      {% include "herbalapp/tree_node.html" with member=member.left_member %}
    {% endif %}
    {% if member.right_member %}
      {% include "herbalapp/tree_node.html" with member=member.right_member %}
    {% endif %}
  </ul>
  {% endif %}
</li>

