<li>
    {{ node.name }}
    <ul>
        <li>
            {% if node.left %}
                {% include "tree_node.html" with node=node.left %}
            {% else %}
                <a class="add-button" href="{% url 'add_member_under_parent' node.id 'left' %}">+ Add Left</a>
            {% endif %}
        </li>
        <li>
            {% if node.right %}
                {% include "tree_node.html" with node=node.right %}
            {% else %}
                <a class="add-button" href="{% url 'add_member_under_parent' node.id 'right' %}">+ Add Right</a>
            {% endif %}
        </li>
    </ul>
</li>

